!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title 小中学生向けオンラインプログラミング学習サービスTechChance!EX
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "小学生、中学生向けのオンラインプログラミング学習サービスです", :name => "description"}/
    %meta{:content => "小学生,中学生,オンライン,プログラミング,スクール", :name => "keywords"}/
    %link{:href => "stylesheets/home.scss", :rel => "stylesheets"}/
    %script{:src => "javascripts/home.js", :type => "text/javascript"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    #container
      %header
        %h1#logo
          %a{:href => "index.html"}
            %img{:alt => "TechChance!EX", :src => "#{asset_path 'logo_top.png'}"}/
      %nav#menubar
        %ul
          -if current_user.student_address.present?
            %li
              = link_to "アカウント編集", edit_user_path(current_user)
          -if current_user.school_address.present?
            %li
              = link_to "アカウント編集", school_edit_user_path(current_user)
            %li
              %a{:href => "/"} 教材投稿
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      #contents
        -if current_user.student_address.present?
          %section
            %h2 お近くのスクール一覧
            -@users.each do |user|
              -if current_user.student_address==user.school_address
                .list
                  %img{:src => "#{asset_path 'school.jpg'}"}/
                  %h4= user.name
                  %p= user.body
                  %a{:href => "#{user.url}"} スクールホームページ

          %section
            %h2 レッスン一覧
            .list
              %img{:src => "#{asset_path 'scratch.jpg'}"}/
              %h4 ここの見出しの色は、cssフォルダのstyle.cssの「.list h4」で設定されているcolorのコードで変更できます。
              %p 左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。

        -if current_user.school_address.present?
          %section
            %h2 投稿したレッスン一覧
            .list
              %img{:src => "#{asset_path 'minecraft.jpg'}"}/
              %h4 ここの見出しの色は、cssフォルダのstyle.cssの「.list h4」で設定されているcolorのコードで変更できます。
              %p 左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。
      / /contents
      %footer
        %small
          Copyright©
          %a{:href => "index.html"} TechChance!EX
          All Rights Reserved.
        %span.pr
          《
          %a{:href => "https://template-party.com/", :target => "_blank"}> Web Design:Template-Party
          》
    / /container
