#container
  %header
    %h1#logo
      %a{:href => "/lessons"}
        %img{:alt => "TechChance!EX", :src => "#{asset_path 'logo_top.png'}"}/
  %nav#menubar
    %ul
      %li= "Hello!,#{current_user.name}さん"
      -if current_user.student_address.present?
        %li
          = link_to "アカウント編集", edit_user_path(current_user)
        %li
          = link_to "マイレッスン", my_lessons_path
        %li
          = link_to "有料会員登録/解除", purchase_view_lessons_path
      -if current_user.school_address.present?
        %li
          = link_to "アカウント編集", school_edit_user_path(current_user)
      %li
        = link_to "ログアウト", destroy_user_session_path, method: :delete
  #contents
    %section
      %h2= @product.title
      -if current_user.school_address.present?
        = link_to "編集", "/lessons/#{@lesson.id}/products/#{@product.id}/edit"
        = link_to "削除", "/lessons/#{@lesson.id}/products/#{@product.id}", method: :delete
      .show
        %p= @product.body
        %a{:href => "#{@product.url}"} 教材動画
        %object{:data => "#{@product.pdf}", :type => "application/pdf", :width => "100%", :height => "100%"}
  / /contents
  %footer
    %small
      Copyright©
      %a{:href => "/lessons"} TechChance!EX
      All Rights Reserved.
    %span.pr
      《
      %a{:href => "https://template-party.com/", :target => "_blank"}> Web Design:Template-Party
      》
/ /container
